<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles.css">
        <title>Home-Flight Reservation</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand p-2" href="/">Air Ticket Reservation System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agent_view_flight">View Flights</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/purchase">Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agent_commission">Commission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agent_top_customers">Top Clients</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link " href="/logout">Logout</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="row p-3">
            <div class="col-sm-6">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">View My Flights</h5>
                  <p class="card-text">Show Upcoming Flights for Your Clients. Can Also Search Based On Date & Location.</p>
                  <a href="/agent_view_flight" class="btn btn-primary">View My Flights</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">Search Flights & Purchase Tickets</h5>
                  <p class="card-text">Search For Flights and Purchase On Behalf of Your Clients.</p>
                  <a href="/agent_search" class="btn btn-primary">Search</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-sm-6">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">View My Commission</h5>
                  <p class="card-text">Show Commission in the Past 30 Days. Can Also Specify Range of Dates.</p>
                  <a href="/agent_commission" class="btn btn-primary">View My Commission</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">View Top Customers</h5>
                  <p class="card-text">Show Stats About the Most Frequent Clients</p>
                  <a href="/agent_top_customers" class="btn btn-primary">See Top Clients</a>
                </div>
              </div>
            </div>
          </div>
        
    </body>
</html>