<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Purchase Confirmation</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand p-2" href="/">Air Ticket Reservation System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/purchase">Purchase</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/logout">Logout</a>
                </li>
              </ul>
            </div>
          </nav>


          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="list-group">
            {% for category, message in messages %}
              <li class="list-group-item list-group-item-primary">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}



        <h1>Dear <span class="badge bg-primary">{{name}}</span>, Please Confirm Your Purchase</h1>
        {%if confirm_message%} 
        <table class="table">
            <tr class="table-primary">
                <th>Airline Name</th>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th>Status</th>
                <th>Airplane ID</th>
                <th>Destination Airport</th>
                <th>Departure Airport</th>
            </tr>
            <tr>
                {%for i in range(9)%}
                <td>{{confirm_message[i]}}</td>
                {%endfor%}
            </tr>
        </table>
        {%endif%}
        <div class="mx-auto" style="width: 200px;">
        <form action="/purchase/{{confirm_message[1]}}" method="POST">
            <input class="btn btn-primary" type="submit" value="Confirm">
        </form>
        <div>
    </body>
</html>