<html>
    <head>
        <title>Purchase Confirmation</title>
    </head>
    <body>
        <h1>Dear {{name}}, Please Confirm Your Purchase for the Following Flight</h1>
        {%if confirm_message%} 
        <table>
            <tr>
                <th>Airline Name</th>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th>Status</th>
                <th>Airplane ID</th>
                <th>Destination Airport</th>
                <th>Departure Airport</th>
            </tr>
            <tr>
                {%for i in range(9)%}
                <td>{{confirm_message[i]}}</td>
                {%endfor%}
            </tr>
        </table>
        {%endif%}
        <form action="/purchase" method="POST">
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>