<html>
    <head>
        <title>Customer Register</title>
    </head>

    <body>
        <h1>Customer Register</h1>
        <form action="/customer_register" method="POST">
            <input type="email" name="email" placeholder="email" required></br>
            <input type="text" name = 'name' placeholder="name" required></br>
            <input type="password" name='password' placeholder='password' required></br>
            <input type="number" name='building_number' placeholder='building number' required></br>
            <input type="text" name = 'street' placeholder='street' required></br>
            <input type="text" name = 'city' placeholder='city' required></br>
            <input type="text" name = 'state' placeholder='state' required></br>
            <input type="number" name = 'phone_number' placeholder='phone number' required></br>
            <input type="text" name = 'passport_number' placeholder= 'passport number' required></br>
            <b>passport expiration date</b><input type="date" name='passport_expiration' placeholder='passport expiration' required></br>
            <input type='text' name='passport_country' placeholder='passport country' required></br>
            <b>date of birth</b><input type='date' name="date_of_birth" placeholder="date of birth" required></br>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>